fire
gin_config
lightning
loguru
musicdiff
numpy
opencv_python
opencv_python_headless
Pillow
rich
scikit-image
timm
torch
torchinfo
torchvision
transformers==4.46.3
visualizer
datasets

verovio==5.0.0
wand
cairosvg
names
wonderwords

# DeepSeek Dependencies
addict
tokenizers==0.20.3
PyMuPDF
img2pdf
einops
easydict

# Flash Attention Dependencies
ninja
packaging
flash-attn>=2.0.4
